h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    height: 3em;
    font-style: italic;
    
}
body {
    font-size: 16px;
    text-align: center;
}

#amarelo {
    background-color: yellow;
    text-decoration: underline;
}


#vermelho {
    background-color: red;
    text-decoration: underline;
    color: aliceblue;
}


#marrom {
    background-color: brown;
    text-decoration: underline;
    color: aliceblue;
}